/* This is the styling sheet for the project written using CSS3 technology... */
/* This is general stylings  for this project... */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

:root {
  --primary-color: #323895;
  --secondary-color: #252a5f;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Young serif";
  margin: 0;
}

/* This is for header section and search form... */
header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.search {
  border-radius: 50px;
  border: 3px solid var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: inherit;
  background-color: transparent;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

/* This is for main section  */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* This is for movie cards */
.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

/* This is for movie image and info section in the movie card... */
.movie img {
  width: 100%;
}

.movie-info {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}
.movie-info span.yellow {
  color: yellow;
}
.movie-info span.red {
  color: red;
}

/* This is for overview animation... */
.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  overflow-y: auto;
  transform: translateY(101%);
  transition: transform 0.5s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
